body{
	background-color: #EFEEEE;
}
h1{
	text-align: center;
}
header,footer{
	padding: 20px;
	background-color: #E3FCF0;
	border:2px solid black;
	border-radius: 20px;
	box-shadow: 3px 3px #B1B1B1;
	margin: 10px;
}
section{
	background-color: #E3FCF0;
	border:2px solid black;
	border-radius: 20px;
	box-shadow: 3px 3px #B1B1B1;
	margin: 10px;
	margin-top: 20px;
	display: flex;
	margin-bottom:20px;
	

}
article{

	width: 95%;
	margin: 10px;
	padding: 20px;
	background-color: white;
	border:2px solid black;
	border-radius: 20px;
	box-shadow: 3px 3px #B1B1B1;


}



#c{
	text-align: center;
	border:2px solid black;
	margin: 5px;
	
	padding: 5px;
	border-radius: 20px;
	box-shadow: 3px 3px #B1B1B1;


}